<%- include('./partials/head') %>
<%- include('./components/navbar') %>

    <main class="flex flex-col gap-4 lg:ml-64 lg:pl-4 lg:w-75% mt-6 mx-4 mb-12">
		<div class="flex flex-col gap-2 bg-slate-800 rounded-md px-4 py-6">
			<h2 class="mb-6 font-extrabold text-2xl text-gray-200">SEO Settings</h2>
			<form action="/admin/edit-seo" method="POST" enctype="multipart/form-data">
				<div class="grid gird-cols-1 lg:grid-cols-2 gap-6">
					<div class="flex flex-col gap-2">
						<label for="title">Title<span class="text-rose-600">*</span></label>
						<input type="text" id="title" name="title" value="<%= jsonData.meta.title %>" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
					</div>
					<div class="flex flex-col gap-2">
						<label for="author">Author<span class="text-rose-600">*</span></label>
						<input type="text" id="author" name="author" value="<%= jsonData.meta.author %>" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
					</div>
					<div class="flex flex-col gap-2">
						<label for="description">Description<span class="text-rose-600">*</span></label>
						<input type="text" id="description" name="description" value="<%= jsonData.meta.description %>" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
					</div>
					<div class="flex flex-col gap-2">
						<label for="keywords">Keywords<span class="text-rose-600">*</span></label>
						<input type="text" id="keywords" name="keywords" value="<%= jsonData.meta.keywords %>" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
					</div>
					<div class="flex flex-col gap-2">
						<img class="h-12 w-12" src="/images/uploads/<%= jsonData.meta.favicon %>">
						<label for="favicon">Favicon<span class="text-rose-600">*</span></label>
						<input type="file" id="favicon" name="favicon" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
					</div>
				</div>
				<input type="submit" value="Save" class="mt-6 px-4 py-2 bg-blue-700 text-gray-200 rounded-lg hover:bg-blue-600">
			</form>
		</div>
		<div class="flex flex-col gap-2 bg-slate-800 rounded-md px-4 py-6">
			<h2 class="mb-6 font-extrabold text-2xl text-gray-200">Header Settings</h2>
			<form action="/admin/edit-header" method="POST" enctype="multipart/form-data">
				<div class="grid gird-cols-1 lg:grid-cols-2 gap-6">
					<div class="flex flex-col gap-2">
						<img class="h-12 w-44 object-cover" src="/images/uploads/<%= jsonData.header.logo_dark %>">
						<label for="logo_dark">Dark Logo Image<span class="text-rose-600">*</span></label>
						<input type="file" id="logo_dark" name="logo_dark" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
					</div>
					<div class="flex flex-col gap-2">
						<img class="h-12 w-44 object-cover" src="/images/uploads/<%= jsonData.header.logo_light %>">
						<label for="logo_light">Light Logo Image<span class="text-rose-600">*</span></label>
						<input type="file" id="logo_light" name="logo_light" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
					</div>
					<div class="flex flex-col gap-2">
						<label for="button_text">Button Text<span class="text-rose-600">*</span></label>
						<input type="text" id="button_text" name="button_text" value="<%= jsonData.header.button_text %>" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
					</div>
					<div class="flex flex-col gap-2">
						<label for="button_url">Button URL<span class="text-rose-600">*</span></label>
						<input type="url" id="button_url" name="button_url" value="<%= jsonData.header.button_url %>" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
					</div>
				</div>
				<input type="submit" value="Save" class="mt-6 px-4 py-2 bg-blue-700 text-gray-200 rounded-lg hover:bg-blue-600">
			</form>
		</div>
		<div class="flex flex-col gap-2 bg-slate-800 rounded-md px-4 py-6">
			<h2 class="mb-6 font-extrabold text-2xl text-gray-200">Hero Settings</h2>
			<form action="/admin/edit-hero" method="POST" enctype="multipart/form-data">
				<div class="grid gird-cols-1 lg:grid-cols-2 gap-6">
					<div class="flex flex-col gap-2">
						<label for="title">Hero Title<span class="text-rose-600">*</span></label>
						<textarea type="text" id="title" name="title" class="p-2 rounded-md bg-slate-900 text-gray-200" required><%= jsonData.hero.title %></textarea>
					</div>
					<div class="flex flex-col gap-2">
						<label for="subtitle">Hero Subtitle<span class="text-rose-600">*</span></label>
						<textarea id="subtitle" name="subtitle" class="p-2 rounded-md bg-slate-900 text-gray-200" required><%= jsonData.hero.subtitle %></textarea>
					</div>
					<div class="flex flex-col gap-2">
						<label for="button_text">Button Text<span class="text-rose-600">*</span></label>
						<input type="text" id="button_text" name="button_text" value="<%= jsonData.hero.button_text %>" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
					</div>
					<div class="flex flex-col gap-2">
						<label for="button_url">Button URL<span class="text-rose-600">*</span></label>
						<input type="url" id="button_url" name="button_url" value="<%= jsonData.hero.button_url %>" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
					</div>
					<div class="flex flex-col gap-2">
						<label for="banner">Hero Banner<span class="text-rose-600">*</span></label>
						<input type="file" id="banner" name="banner" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
					</div>
				</div>
				<input type="submit" value="Save" class="mt-6 px-4 py-2 bg-blue-700 text-gray-200 rounded-lg hover:bg-blue-600">
			</form>
		</div>
		<div class="flex flex-col gap-2 bg-slate-800 rounded-md px-4 py-6">
			<h2 class="mb-6 font-extrabold text-2xl text-gray-200">Parners Settings</h2>
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
				<div>
					<form action="/admin/edit-partners" method="POST">
						<div class="flex flex-col gap-2">
							<label for="title">Partners Title<span class="text-rose-600">*</span></label>
							<input type="text" id="title" name="title" value="<%= jsonData.partners.title %>" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
						</div>
					</form>
					<input type="submit" value="Save" class="mt-4 px-4 py-2 bg-blue-700 text-gray-200 rounded-lg hover:bg-blue-600">
				</div>
				<div>
					<form action="/admin/add-partners-images" method="POST" enctype="multipart/form-data">
						<div class="flex flex-col gap-2">
							<label for="images" class="block">Add Images Partners<span class="text-rose-600">*</span></label>
							<input type="file" name="images" class="p-2 rounded-md bg-slate-900 text-gray-200" required>
						</div>
						<input type="submit" value="Upload" class="mt-4 px-4 py-2 bg-emerald-600 text-gray-200 rounded-lg hover:bg-emerald-700">
					</form>
				</div>
			</div>
			<table class="table-auto min-w-full mt-6">
				<thead>
					<tr class="bg-slate-700">
						<th class="px-4 py-2 text-left">Image List</th>
						<th class="px-4 py-2">Action</th>
					</tr>
				</thead>
				<tbody>
					<% jsonData.partners.partners_img.forEach(function(data) { %>
					<tr class="border-b border-gray-700">
						<td class="px-4 py-2 w-full">
							<img class="h-12" src="/images/uploads/<%= data.images %>" alt="banner">
						</td>
						<td class="px-4 py-2 flex items-center justify-center w-[200px]">
							<a href="#" class="block px-4 py-2 bg-rose-700 text-gray-200 rounded-lg text-center hover:bg-rose-600 w-auto">Delete</a>
						</td>
					</tr>
					<% }); %>
				</tbody>
			</table>

		</div>
    </main>

<%- include('./partials/footer') %>