<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title><%= jsonData.meta.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%= jsonData.meta.description %>">
	<meta name="keywords" content="<%= jsonData.meta.keywords %>">
	<meta content="<%= jsonData.meta.author %>" name="author" />
	<link rel="shortcut icon" href="/images/uploads/<%= jsonData.meta.favicon %>">
	<script type="module" crossorigin src="/js/theme-3a535b87.js"></script>
	<link rel="stylesheet" href="/css/theme-e2a9673d.css">
	<script src="https://cdn.tailwindcss.com"></script>
</head>