    <section id="blog" class="py-10 lg:py-20">
        <div class="container">
            <div class="flex items-end justify-between mb-10">
                <div class="max-w-2xl mx-auto text-center">
                    <span class="py-1 px-3 rounded-md text-xs font-medium uppercase tracking-wider border border-default-200 text-default-950"><%= jsonData.blog.span_title %></span>
                    <h2 class="md:text-4xl text-3xl font-medium capitalize text-default-950 my-4"><%= jsonData.blog.title %></h2>
                </div>
            </div>

            <div class="grid xl:grid-cols-3 gap-6">
                 <% jsonData.blog.blog_card.forEach(function(data) { %>
				<div class="p-6 border border-primary/20 bg-primary/10 rounded-xl">
                    <div class="relative h-full w-full">
                        <img src="/images/uploads/<%= data.images %>" class="rounded-md h-full w-full" alt="">
                        <div class="absolute inset-x-0 top-auto bottom-0 hidden md:block">
                            <div class="m-2 p-2 rounded-xl bg-black/10 backdrop-blur-md">
                                <div class="group text-center">
                                    <h3 class="md:text-xl font-medium text-white my-3 line-clamp-1"><%= data.title %></h3>
                                    <a href="<%= data.button_url %>" class="text-white group-hover:text-primary text-lg font-medium  transition-all duration-500"><%= data.button_text %>
                                        <i data-lucide="move-right" class="group-hover:opacity-100 opacity-0 text-primary w-5 h-5 inline-block transition-all duration-500 group-hover:translate-x-2 will-change-transform"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<% }); %>
            </div>
        </div>
    </section>