<%- include('partials/head') %>
<body>
	<%- include('partials/header') %>
	<%- include('components/hero') %>
	<%- include('components/partners') %>
	<%- include('components/feature') %>
	<%- include('components/about') %>
	<%- include('components/service') %>
	<%- include('components/testimonial') %>
	<%- include('components/faq') %>
	<%- include('components/cta') %>
    <%- include('partials/footer') %>
</body>
</html>